<% if @users %>
  <% @users.each do |user| %>
    <div id="userInTable<%= user.id %>">
      <%= user.email %>
      <%= create_request_game(user.id, 1) %>
      <div class="userStatus">
      </div>
    </div>
  <% end %>
<% end %>