PLayers
<% @users.each do |user| %>
  <div id="userInTable<%= user.id %>">
    <%= user.email %>
    <% if user_signed_in? and user.email != current_user.email %>
      <%= link_to "Request a game", request_game_path(user.id.to_s), :remote => true%> 
    <% end %>
    <div class="userStatus">
    </div>
  </div>
<% end %>