<% if user_signed_in? %>
    <% Game.all_games(current_user.id).each do |game| %>      
      <div id="game<%= game.to %>">
        <% if game.from == current_user.id %>
          <%= create_active_game_from game %>
        <% else %>
          <%= create_active_game_to game %>
        <% end %>
        <%= create_active_same game %>
      </div>
    <% end %>
<% end %>