<% if user_signed_in? %>
  <div id="gamesRequest">
    <% Game.all_games(current_user.id).each do |game| %>
      <div id="game<%= game.to %>">
        <% if game.status == "sent" %>
         Waiting for <%= game.to %>
        <% elsif game.status == "req" %>
          <%= link_to "Yes", edit_game_path( game.to.to_s), remote => true, :stage => "answ", :answer => 'yes' %>
          <%= link_to "No", edit_game_path( game.to.to_s), remote => true, :stage => "answ", :answer => 'no' %>  
        <% end %> 
      </div>
    <% end %>
  </div>
<% end %>